<div class="card">
  <div class="card-header">
    <h5 class="card-title" style="text-align: center;">Ver Proveedor</h5>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>RUC: </strong>{{proveedor.ruc}}</li>
      <li class="list-group-item"><strong>Razon Social: </strong>testt</li>
      <li class="list-group-item"><strong>Nombre Comercial: </strong>test01</li>
      <li class="list-group-item"><strong>Direccion: </strong>test01</li>
      <li class="list-group-item"><strong>Telefono: </strong>test01</li>
      <li class="list-group-item"><strong>Email: </strong>test01</li>
      <li class="list-group-item"><strong>Contacto 01: </strong>test01</li>
      <li class="list-group-item"><strong>Contacto 02:</strong> test01</li>
      <li class="list-group-item"><strong>Observacion: </strong>test01</li>
    </ul>
  </div>
</div>
