<label>Filtrar nombre: &nbsp; </label>
<input>
<button type="button" >Buscar</button>
<button type="button">Limpiar</button> &nbsp;

<label>Ordenar por &nbsp;</label>
<select >
  <option value="City">Nombre</option>
  <option value="Price">Direccion</option>
</select>
<button type="button">
  <i class="fas fa-sort-alpha-down"></i>
</button>

<div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
  <button class="btn btn-primary" routerLink="/agregar-proveedor">Agregar</button>
</div>


<div class="row" style="padding-top: 30px;">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre Comercial</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider" *ngFor="let proveedor of proveedores">
    <tr>
      <td>{{proveedor.nombreComercial}}</td>
      <td>{{proveedor.direccion}}</td>
      <td>{{proveedor.telefono}}</td>
      <td>
        <button class="btn btn-primary" routerLink="/ver-proveedor/{{proveedor.id}}"><i class="fas fa-search"></i></button>&nbsp;
        <button class="btn btn-primary" routerLink="/editar-proveedor/1"><i class="fas fa-edit"></i></button>&nbsp;
        <button class="btn btn-primary" routerLink="/eliminar-proveedor/1"><i class="fas fa-trash"></i></button>&nbsp;
      </td>
    </tr>
  </tbody>
</table>
</div>
